form(action="/auth/login" method="post")
  label(for="email") Email
  input(type="email" name="email" id="email" autocomplete="username" required)
  label(for="password") Password
  input(type="password" name="password" id="password" autocomplete="current-password" required) 
  button(type="submit") Login
