form(action="/auth/signup" method="post")
  label(class="form-label" for="username") Username
  input#username(class="form-control" type="text" name="username" autocomplete="username" placeholder="Username" required)
  label(class="form-label" for="email") Email
  input#email(class="form-control" type="email" name="email" placeholder="example@email.com" required)
  label(class="form-label" for="phone") Phone
  input#phone(class="form-control" type="text" name="phone" placeholder="Phone" required)
  label(class="form-label" for="address") Address
  input#address(class="form-control" type="text" name="address" placeholder="Address" required)
  label(class="form-label" for="city" ) City
  input#city(class="form-control" type="text" name="city" placeholder="City" required)
  label(class="form-label" for="country" ) Country
  input#country(class="form-control" type="text" name="country" placeholder="Country" required)
  label(class="form-label" for="birthday" ) Birthday
  input#birthday(class="form-control" type="date" name="birthday" placeholder="Birthday" required)
  label(class="form-label" for="password" ) Password
  input#password(class="form-control" type="password" name="password" autocomplete="new-password" placeholder="Password" required)
  label(class="form-label" for="confirmPassword" ) Confirm Password
  input#confirmPassword(class="form-control" type="password" name="confirmPassword" autocomplete="new-password" placeholder="Confirm Password" required)
  button(class="btn btn-primary mt-3" type="submit") Sign up
script. 
  const password = document.querySelector('#password');
  const confirmPassword = document.querySelector('#confirmPassword');
  const form = document.querySelector('form');
  form.addEventListener('submit', (e) => {
    if (password.value !== confirmPassword.value) {
    e.preventDefault();
      confirmPassword.setCustomValidity("Passwords don't match");
    }

  });