extends ../templates/_layout.pug

block content
  div(class="d-flex align-items-center justify-content-center vh-100")
    div(class="text-center")
      h1(class="display-1 fw-bold") 404
      p(class="fs-3") Page #{url} not found.
      p(class="lead") The page you're looking for doesn't exist.
      a(href="/" class="btn btn-primary") Go Home