extends ../templates/_layout.pug

block headers 

block content

  .container
    .row 
      .col
        h2 Signup
        include ../partials/signup.pug

      .col
        h2 Login  
        include ../partials/login.pug
    if messages.length > 0
      .row 
        .col-2
          include ../partials/messages.pug